<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span></button>
      <a class="navbar-brand" href="#"><span>DATA SCIENCE </span>CHALLENGE</a>
      <ul class="nav navbar-top-links navbar-right">
        <li><a href="#"><button class="btn btn-primary">Check Readiness Status</button></a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
  
<div class="col-sm-12 main">
  
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Phase 2 Readiness Survey</h1>
    </div>
  </div><!--/.row-->
  
  <div class="row col-md-6">
    <div class="col-md-6">
      <div class="panel panel-default">
      <h3 class="text-center header-text">Total Responses</h3>
        <div class="panel-body easypiechart-panel">
          <div class="easypiechart" id="easypiechart-teal" data-percent="100" ><span class="percent" id="countresponses">0</span></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
      <h3 class="text-center header-text">Total Countries</h3>
        <div class="panel-body easypiechart-panel">
          <div class="easypiechart" id="easypiechart-blue" data-percent="100" ><span class="percent" id="countcountries">0</span></div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default ">
            <div class="panel-heading">
              Conclusion from survey
              <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
            <div class="panel-body">
              <div class="col-md-12 no-padding">
                <div class="row progress-labels">
                  <div class="col-sm-6">New Orders</div>
                  <div class="col-sm-6" style="text-align: right;">80%</div>
                </div>
                <div class="progress">
                  <div data-percentage="0%" style="width: 80%;" class="progress-bar progress-bar-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="row progress-labels">
                  <div class="col-sm-6">Comments</div>
                  <div class="col-sm-6" style="text-align: right;">60%</div>
                </div>
                <div class="progress">
                  <div data-percentage="0%" style="width: 60%;" class="progress-bar progress-bar-orange" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="row progress-labels">
                  <div class="col-sm-6">New Users</div>
                  <div class="col-sm-6" style="text-align: right;">40%</div>
                </div>
                <div class="progress">
                  <div data-percentage="0%" style="width: 40%;" class="progress-bar progress-bar-teal" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="row progress-labels">
                  <div class="col-sm-6">Scroll down for further breakdown <i class="fa fa-arrow-down"></i></div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  <div class="row col-md-6">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Participants Age
            <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
          <div class="panel-body">
            <div class="canvas-wrapper">
              <canvas class="chart" id="pie-chart" ></canvas>
            </div>
          </div>
        </div>
      </div>
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Line Chart
          <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
        <div class="panel-body">
          <div class="canvas-wrapper">
            <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Bar Chart
          <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
        <div class="panel-body">
          <div class="canvas-wrapper">
            <canvas class="main-chart" id="bar-chart" height="200" width="600"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->		
  
  <div class="row">
    <div class="col-sm-12">
      <p class="back-link">Group Project <i class="fa fa-heart"></i> <a href="#">  Data Scholars</a></p>
    </div>
  </div><!--/.row-->
</div>	<!--/.main-->